In [ ]:
import pandas as pd

In [ ]:
sales=pd.read_excel('demodata.xlsx',sheet_name='Sales Report')

In [ ]:
expenses=pd.read_excel('demodata.xlsx',sheet_name='Expense Report')
paylater=pd.read_excel('demodata.xlsx',sheet_name='Pay Later')
products=pd.read_excel('demodata.xlsx',sheet_name='Products Services')
Clients=pd.read_excel('demodata.xlsx',sheet_name='Clients')

In [ ]:
sales.head()

,Item Name,Item Price,Item Quantity,Total,Transaction Time,Transaction Code,Payment Mode
0,Blue shirt,200,11,2200,2022-07-18 09:57,QGI8NNDT2I,MPESA
1,Blue shirt,200,11,2200,2022-07-18 09:57,QGI8NNDT2I,Credit
2,Blue shirt,200,1,200,2022-08-03 18:33,QH33LN21RT,MPESA
3,Blue shirt,200,1,200,2022-08-03 18:33,QH33LN21RT,Cash
4,White shirt,200,2,400,2022-08-03 18:33,QH33LN21RT,MPESA

In [ ]:
import gspread
from gspread_dataframe import set_with_dataframe
from google.oauth2.service_account import Credentials
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive

scopes = ['https://www.googleapis.com/auth/spreadsheets',
          'https://www.googleapis.com/auth/drive']

credentials = Credentials.from_service_account_file('/content/serious-dahlia-317617-42404d511b2e.json', scopes=scopes)   #path to the json file with login credentials

gc = gspread.authorize(credentials)

gauth = GoogleAuth()
drive = GoogleDrive(gauth)

gs = gc.open_by_key('1e6ac5L45VYhF9RbU-FYpFVUVeM7FMpqvhaJp24S2kdc')
worksheet1 = gs.worksheet('Sales Report')

worksheet1.clear()
set_with_dataframe(worksheet=worksheet1, dataframe=sales, include_index=False,
include_column_header=True, resize=True)

worksheet2 = gs.worksheet('Expense Report')
worksheet2.clear()
set_with_dataframe(worksheet=worksheet2, dataframe=expenses, include_index=False,
include_column_header=True, resize=True)

worksheet3 = gs.worksheet('Pay Later')
worksheet3.clear()
set_with_dataframe(worksheet=worksheet3, dataframe=paylater, include_index=False,
include_column_header=True, resize=True)

worksheet4 = gs.worksheet('Products Services')
worksheet4.clear()
set_with_dataframe(worksheet=worksheet4, dataframe=products, include_index=False,
include_column_header=True, resize=True)

worksheet5 = gs.worksheet('Clients')
worksheet5.clear()
set_with_dataframe(worksheet=worksheet5, dataframe=Clients, include_index=False,
include_column_header=True, resize=True)

sheet_link = 'https://docs.google.com/spreadsheets/d/1e6ac5L45VYhF9RbU-FYpFVUVeM7FMpqvhaJp24S2kdc/edit#gid=0'